@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --accents-purple: rgba(123, 97, 255, 1);
  --accentsblue: rgba(38, 164, 255, 1);
  --accentsgreen: rgba(86, 205, 173, 1);
  --accentsred: rgba(255, 101, 80, 1);
  --accentsyellow: rgba(255, 184, 54, 1);
  --body-large-regular-font-family: "Epilogue", Helvetica;
  --body-large-regular-font-size: 18px;
  --body-large-regular-font-style: normal;
  --body-large-regular-font-weight: 400;
  --body-large-regular-letter-spacing: 0px;
  --body-large-regular-line-height: 160%;
  --body-large-semibold-font-family: "Epilogue", Helvetica;
  --body-large-semibold-font-size: 18px;
  --body-large-semibold-font-style: normal;
  --body-large-semibold-font-weight: 600;
  --body-large-semibold-letter-spacing: 0px;
  --body-large-semibold-line-height: 160%;
  --body-normal-medium-font-family: "Epilogue", Helvetica;
  --body-normal-medium-font-size: 16px;
  --body-normal-medium-font-style: normal;
  --body-normal-medium-font-weight: 500;
  --body-normal-medium-letter-spacing: 0px;
  --body-normal-medium-line-height: 160%;
  --body-normal-regular-font-family: "Epilogue", Helvetica;
  --body-normal-regular-font-size: 16px;
  --body-normal-regular-font-style: normal;
  --body-normal-regular-font-weight: 400;
  --body-normal-regular-letter-spacing: 0px;
  --body-normal-regular-line-height: 160%;
  --body-normal-semibold-font-family: "Epilogue", Helvetica;
  --body-normal-semibold-font-size: 16px;
  --body-normal-semibold-font-style: normal;
  --body-normal-semibold-font-weight: 600;
  --body-normal-semibold-letter-spacing: 0px;
  --body-normal-semibold-line-height: 160%;
  --body-small-medium-font-family: "Inter", Helvetica;
  --body-small-medium-font-size: 16px;
  --body-small-medium-font-style: normal;
  --body-small-medium-font-weight: 500;
  --body-small-medium-letter-spacing: 0px;
  --body-small-medium-line-height: 160%;
  --body-small-regular-font-family: "Inter", Helvetica;
  --body-small-regular-font-size: 16px;
  --body-small-regular-font-style: normal;
  --body-small-regular-font-weight: 400;
  --body-small-regular-letter-spacing: 0px;
  --body-small-regular-line-height: 160%;
  --body-small-semibold-font-family: "Epilogue", Helvetica;
  --body-small-semibold-font-size: 14px;
  --body-small-semibold-font-style: normal;
  --body-small-semibold-font-weight: 600;
  --body-small-semibold-letter-spacing: 0px;
  --body-small-semibold-line-height: 160%;
  --body-xlarge-regular-font-family: "Epilogue", Helvetica;
  --body-xlarge-regular-font-size: 20px;
  --body-xlarge-regular-font-style: normal;
  --body-xlarge-regular-font-weight: 400;
  --body-xlarge-regular-letter-spacing: 0px;
  --body-xlarge-regular-line-height: 160%;
  --brandsprimary: rgba(70, 64, 222, 1);
  --brandssecondary: rgba(204, 204, 245, 1);
  --brandstertiary: rgba(233, 235, 253, 1);
  --button-large-font-family: "Epilogue", Helvetica;
  --button-large-font-size: 18px;
  --button-large-font-style: normal;
  --button-large-font-weight: 700;
  --button-large-letter-spacing: 0px;
  --button-large-line-height: 160%;
  --button-normal-font-family: "Epilogue", Helvetica;
  --button-normal-font-size: 16px;
  --button-normal-font-style: normal;
  --button-normal-font-weight: 700;
  --button-normal-letter-spacing: 0px;
  --button-normal-line-height: 160%;
  --color-primary: rgba(70, 64, 222, 1);
  --color-text: rgba(32, 36, 48, 1);
  --color-white: rgba(255, 255, 255, 1);
  --colorblack: rgba(32, 36, 48, 1);
  --display-2-font-family: "Epilogue", Helvetica;
  --display-2-font-size: 20px;
  --display-2-font-style: normal;
  --display-2-font-weight: 600;
  --display-2-letter-spacing: 0px;
  --display-2-line-height: 120.00000762939453%;
  --heading-h2-font-family: "Clash Display", Helvetica;
  --heading-h2-font-size: 48px;
  --heading-h2-font-style: normal;
  --heading-h2-font-weight: 400;
  --heading-h2-letter-spacing: 0px;
  --heading-h2-line-height: 110%;
  --lightsblue: rgba(233, 235, 253, 1);
  --lightsborder: rgba(214, 221, 235, 1);
  --lightsgray: rgba(248, 248, 253, 1);
  --neutrals-0: rgba(255, 255, 255, 1);
  --neutrals-1-0i: rgba(248, 248, 253, 1);
  --neutrals-100: rgba(37, 50, 75, 1);
  --neutrals-20: rgba(214, 221, 235, 1);
  --neutrals-40: rgba(168, 173, 183, 1);
  --neutrals-60: rgba(124, 132, 147, 1);
  --neutrals-80: rgba(81, 91, 111, 1);
  --other-colorsuntitledborder-dashboard: rgba(226, 231, 245, 1);
  --shadow:
    0px 2.7135651111602783px 4.396662712097168px 0px rgba(192, 192, 192, 0.03), 0px 6.862810134887695px 11.119489669799805px 0px rgba(
      192,
      192,
      192,
      0.04
    ), 0px 13.999488830566406px 22.682716369628906px 0px rgba(
      192,
      192,
      192,
      0.05
    ), 0px 28.836299896240234px 46.72210693359375px 0px rgba(
      192,
      192,
      192,
      0.06
    ), 0px 79px 128px 0px rgba(192, 192, 192, 0.09);
  --title-large-semibold-font-family: "Clash Display", Helvetica;
  --title-large-semibold-font-size: 24px;
  --title-large-semibold-font-style: normal;
  --title-large-semibold-font-weight: 400;
  --title-large-semibold-letter-spacing: 0px;
  --title-large-semibold-line-height: 120.00000762939453%;
  --x-border: ;
  --y-border: 1px 0px 0px 0px rgba(211, 214, 219, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
